.user {
  display: flex;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.btn Button {
  border: 0px none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: tomato;
  color: whitesmoke;
  margin-bottom: 10px;
}
.icon {
  padding-right: 5px;
}
